@import 'variables';

.calculator-container {
	form {
		padding: 0 $gutter;
	}
	header {
		padding: 37px 0;
		font-size: 16px;
		font-weight: 400;
	}
	select.form-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('../assets/icon-arrow-down.svg') no-repeat right;
	}

	.details {
		height: 39px;
		line-height: 39px;
		background-color: #F1F2F7;
		padding: 0 $gutter;
		font-size: 9px;
		font-weight: bold;
	}

	.form-control {
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
		border-bottom: 1px solid #eee;
		height: 37px;
		margin: 12.6px 0 0 0;
		border-radius: 0;
		padding: 0;

		&:focus {
			border: none;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			border-bottom: 1px solid #eee;
		}

		&.invalid {
			border-color: red;
			color: red;
		}
		&.valid {
			border-color: green;
			color: green;
		}
	}

	button.btn {
		margin: 38px 0;
		height: 34.91px;
		background-color: $blue;
		border: none;
	}
}
